#map {
    width: 800px;
    height: 500px;
  }
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #cbcbcb;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.text {
padding-top: 693px;
}

.p-clmap {
  background-color: white;
  position: relative;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 59px 25px 59px !important;
  margin: 65px 63px 65px 63px !important;
}

.c-clmap h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 47px;
  margin-bottom: 23px;
}

.c-clmap {
  line-height: 30px;
}