.p-rot {
  animation: fadeIn ease 2.3s;
  -webkit-animation: fadeIn ease 2.3s;
}

.pf-rot, .pf-com, .pf-mt, .pf-eft {
  width: 100%;
  height: 67vh;
  margin: 0px 0px 55px 0px;
}

#i-rot, #i-com, #i-mt, #i-eft {
  width: 100%; 
  height: 100%;
}

.pb-fe {
  background-color: white;
  position: relative;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 59px 25px 59px;
  margin: 65px 63px 65px 63px;
}

.c-fe h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 47px;
  margin-bottom: 17px;
}

.c-fe {
  line-height: 30px;
}

blockquote {
  background: #f9f9f9;
  font-style: italic;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.9em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  visibility: hidden;
  content: close-quote;
}

blockquote p {
  display: inline;
}